/rankit-dominio/target/
/rankit-dominio/.classpath
/rankit-dominio/.project
/rankit-dominio/.settings/
*generated-sources
/rankit-dominio/bin
/rankit-dominio/xtend-gen

/rankit_administrador-desktop/target/
/rankit_administrador-desktop/.classpath
/rankit_administrador-desktop/.project
/rankit_administrador-desktop/.settings/
*generated-sources
/rankit_administrador-desktop/bin
/rankit_administrador-desktop/xtend-gen
/target/
