.settings
.classpath
.project

/rankit-dominio/target/
/rankit-dominio/.classpath
/rankit-dominio/.project
/rankit-dominio/.settings/
*generated-sources
/rankit-dominio/bin
/rankit-dominio/xtend-gen

/rankit_administrador-desktop/target/
/rankit_administrador-desktop/.classpath
/rankit_administrador-desktop/.project
/rankit_administrador-desktop/.settings/
*generated-sources
/rankit_administrador-desktop/bin
/rankit_administrador-desktop/xtend-gen
/target/

/rankit_servicios/xtrest/target/
/rankit_servicios/xtrest/.classpath/
/rankit_servicios/xtrest/.project/
/rankit_servicios/xtrest/.settings/
*generated-sources
/rankit_servicios/xtrest/bin/
/rankit_servicios/xtrest/xtend-gen/
