<div class="container" ng-controller="loginCtrl as login">
    <div class="page-header">
    <div class="col-md-3"><img src="/rankit.jpg" alt="logoRankit" width="170" height="99"></div>
	<div class="col-md-5"><h1>Rank-IT</h1></div>

    <div class="col-md-4">
        <div class="col-md-1"> Hola </div>
        <div class = "col-md-2">
                <button type="button" ng- click = "login.calificar()"> {{nombreUsuario}} </button>
        </div>
        <div class = "col-md-2">
            <button type="button" class="btn btn-link" ng- click = "login.logout()"> Salir </button>
        </div>
        
    </div>
    </div>
</div>  