.header{
	background:#b0e0e6;
	color:#ffffff;
	font-family:Helvetica;
	font-size:40px;
	align-items: center;
	
}
.main{
	background: #ecf7f9;
	color: #2e8691;
}

.circulo {
      background-color: #5bc0de ;
      color: #fff;
      font-size: 20px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      font-weight: 200;
      height: 80px;
      line-height: 80px;
      text-align: center;
      width: 80px;
      position: absolute;
      left: 320px;
     
}