<form>
		<div class="input-group">
			<label for="idDelServer">Nombre:</label>
			<input type="text" placeholder= "Ingrese el nombre a buscar" name="nombreEnElServer" id="idDelServer">
			<label for="tipo">Seleccione tipo:</label>
			<select class="form-group" id="tipo">
				<option>Servicio</option>
				<option>Lugar</option>
			</select>
			<label for="idDelServer">Calificaciones:</label>
			<input type="text" placeholder= "Ingrese una cantidad" name="nombreEnElServer" id="idDelServer">
			<label for="idDelServer">Ranking:</label>
			<input type="text" placeholder= "Ingrese un ranking" name="nombreEnElServer" id="idDelServer">
			<input type="button" value="Buscar">
		</div>
</form>